.primary-btn{
padding:18px 10px;
background-color: black;
color: white;
min-width: 220px;
border-radius: 8px;
display :flex;
align-items: center;
justify-content: center;
gap: 8px;
justify-content: center;
cursor: pointer;
}
.outline-btn{
padding:18px 10px;
border:1px solid black;
background-color: transparent;
color: black;
min-width: 220px;
border-radius: 8px;
display :flex;
align-items: center;
justify-content: center;
gap: 8px;
justify-content: center;
width: 100%;
cursor: pointer;
}
